@use '../frame' as *;
.router-link-exact-active {
  
  @media (min-width: func-container(md)) {
    color: #FFFFFF !important;
  }
}

.menu {
  padding: 1rem 0;
  background-color: #0D13C3;
  color: rgba(255, 255, 255, 0.3);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  &__container {
    @include func-row(g-xl);
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    padding: 0.5rem 0;
    transition: color 0.5s;
    &:hover {
      color: #FFFFFF;
    }
  }
  &__icon {
    font-size: 1.5em;
    padding: 0.5rem 0;
    @media (min-width: func-container(md)) {
      display: none;
    }
  }
  &__links {
    display: none;
    @media (min-width: func-container(md)) {
      display: flex;
      flex-direction: row;
      background-color: transparent;
      padding: 0;
      a {
        color: inherit;
        padding: 0.5rem 1rem;
        display: inline-flex;
        transition: color 0.5s;
        border-bottom: none;
        &:hover {
          color: #FFFFFF;
        }
      }
    } 
  }
  &__colapse {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 70%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2rem;
    z-index: 200;
    display: none;
    @media (min-width: func-container(md)) {
      display: none;
    }
    a {
      color: #0D13C3;
      padding: 1rem;
      border-bottom: 0.0625rem solid #0D13C3;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  @media (min-width: func-container(md)) {
    display: none;
  }
}